node_modules/
**/node_modules/
vendor/
**/vendor/
.env
.env.*
**/.env
**/.env.*
.next/
**/.next/
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
**/.git/
**/.expo/
**/.pnpm-store/
**/.DS_Store
**/*.log
**/storage/logs/
**/storage/*.key
backups/
